.btn {
  padding: 0.7em 2em;
  cursor: pointer;
  margin-left: 2em;
  background: #111;
  border: 1px solid #111;
  border-radius: 7px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

.btn:hover {
  background: #222;
}

.btn:disabled {
  cursor: not-allowed;
  background: #575757;
}

.btn div {
  padding-right: 5px;
}

.icon {
  margin-left: 4px !important;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.formGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageUploadGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.inputDetailsGroup {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
}

.formInput {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 7px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 10px;
}

.formInput:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #007bff80;
}

.inputDetailsGroup .btn {
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bannerImage {
  width: 100%;
  max-height: 267px;
  margin-bottom: 45px;
}

.uploadBtnSelect {
  padding: 0.7em 2em;
  cursor: pointer;
  margin-left: 2em;
  background: #111;
  border: 1px solid #111;
  border-radius: 7px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.uploadBtnSelect:hover {
  background: #222;
}
