.btn {
  padding: 0.7em 2em;
  cursor: pointer;
  margin-left: 2em;
  background: #111;
  border: 1px solid #111;
  border-radius: 7px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

.btn:hover {
  background: #222;
}

.btn:disabled {
  cursor: not-allowed;
  background: #575757;
}

.btn div {
  padding-right: 5px;
}

.icon {
  margin-left: 4px !important;
}

.btnRed {
  cursor: pointer;
  margin-left: 2em;
  background: #fd4d4d;
  border: 1px solid #fd4d4d;
  border-radius: 7px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 40px;
  transition: box-shadow 250ms ease-in;
  width: 100%;
  height: max-content;
}

.btnRedTopMargin {
  cursor: pointer;
  margin-left: 2em;
  background: #fd4d4d;
  border: 1px solid #fd4d4d;
  border-radius: 7px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 40px;
  transition: box-shadow 250ms ease-in;
}

.btnRedTopMargin:hover {
  background: #fd6868;
}

.btnRedTopMargin:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #007bff80;
}

.btnRed:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #007bff80;
}

.btnRed:hover {
  background: #fd6868;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.formGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageUploadGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.inputDetailsGroup {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
}

.formInput {
  width: 100%;
  color: #dee3ea;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #242c37;
  border: none;
  margin-top: 10px;
  transition: box-shadow 250ms ease-in;
  -moz-appearance: textfield !important;
  -webkit-appearance: textfield !important;
}

.formInput:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #007bff80;
}

.inputDetailsGroup .btn {
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bannerImage {
  width: 100%;
  max-height: 267px;
  margin-bottom: 45px;
}

.uploadBtnSelect {
  padding: 0.7em 2em;
  cursor: pointer;
  margin-left: 2em;
  background: #fd4d4d;
  border: none;
  border-radius: 7px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 0;
}

.uploadBtnSelect:hover {
  background: #fd6868;
}

.infoText {
  margin-top: 40px;
  color: #dee3ea;
}

@media screen and (max-width: 622px) {
  .formInput {
    width: 100%;
    border-radius: 0;
  }

  .btnRed {
    margin: 0;
    margin-top: 10px;
    border-radius: 0;
  }
}
