@font-face {
  font-family: Sofia Pro Bold;
  src: url('/fonts/Sofia\ Pro\ Bold.otf');
  font-weight: 7000;
  font-display: swap;
}

@font-face {
  font-family: Sofia Pro Medium;
  src: url('/fonts/Sofia\ Pro\ Medium.otf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Sofia Pro;
  src: url('/fonts/Sofia\ Pro\ Regular.otf');
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #13293d;
  font-family: Sofia Pro, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #242c37 transparent;
}

body {
  background: #0b0e11;
}

.btn {
  cursor: pointer;
  margin-left: 2em;
  background: #fd4d4d;
  border: 1px solid #fd4d4d;
  border-radius: 7px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.875rem;
  font-weight: 700;
}

.btn:hover {
  background: #fd6868;
}

.btn div {
  padding-right: 5px;
}

.icon {
  margin-left: 4px !important;
}
