@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #13293d;
  font-family: 'Montserrat', sans-serif;
}

::selection {
  background: #eee;
  color: #111;
}

.btn {
  padding: 0.7em 2em;
  cursor: pointer;
  margin-left: 2em;
  background: #111;
  border: 1px solid #111;
  border-radius: 7px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
}

.btn:hover {
  background: #222;
}

.btn div {
  padding-right: 5px;
}

.icon {
  margin-left: 4px !important;
}
